In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load
NYC1_data_to_load = "resources/NYC_Listings1.csv"
NYC2_data_to_load = "resources/NYC_Listings2.csv"
NYC3_data_to_load = "resources/NYC_Listings3.csv"

SF_data_to_load = "resources/SF_Listings.csv"

# Read School and Student Data File and store into Pandas Data Frames
NYC1_data = pd.read_csv(NYC1_data_to_load)
NYC2_data = pd.read_csv(NYC2_data_to_load)
NYC3_data = pd.read_csv(NYC3_data_to_load)


SF_data = pd.read_csv(SF_data_to_load)

# Combine the data into a single dataset
##airbnb_data_complete = pd.merge(NYC_data, SF_data, how="leftORright", on=["column1", "column2"])

/Users/mikeyesteban/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (94) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mikeyesteban/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (61,62,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
# Create a full NYC DF
NYC_data = pd.concat([NYC1_data, NYC2_data, NYC3_data], ignore_index=True)
# ADD state columns to NYC and SF data
NYC_data['state'] = 'NY'
SF_data['state'] = 'SF'

# Concatenate NYC an
airbnb_data = pd.concat([NYC_data, SF_data], ignore_index=True)
airbnb_data.groupby('state').mean()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_acceptance_rate,host_listings_count,host_total_listings_count,latitude,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
state,,,,,,,,,,,,,,,,,,,,,
NY,1.604620e+07,2.019080e+13,NaN,NaN,NaN,5.232186e+07,NaN,12.800383,12.800383,40.728549,...,9.271086,9.762254,9.771765,9.560585,9.403425,5.113816,3.644118,1.376913,0.092785,1.193607
SF,1.901005e+07,2.019081e+13,NaN,NaN,NaN,5.479076e+07,NaN,80.686798,80.686798,37.766142,...,9.625100,9.859325,9.835958,9.686174,9.403859,22.088983,18.463296,3.028086,0.597600,1.847225